@model Copiosis_Application.Models.AddItemModel
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.js"></script>

@* Page for adding new items*@
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 id="add-item-title" class="text-center">Create A New Item</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @* Use the placeholder for now, so that the application still compiles
            @Html.LabelFor(m => m.ItemClass, new { @class = "control-label" })
            @foreach(var ItemClass in Model.ItemClass)
            {
                <li><a href='#'>@ItemClass.name</a></li>
            }
            @Html.ValidationMessageFor(m => m.ItemClass)
        *@
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                @*Html.LabelFor(m => m.ItemClass)*@
                @Html.DropDownListFor(m => m.ItemClass, new SelectList(Model.ItemClassTemplates.Keys))
                @Html.ValidationMessageFor(m => m.ItemClass)
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Item Name" })
                @Html.ValidationMessageFor(m => m.Name)

            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class=" form-group">
                @Html.LabelFor(m => m.Gateway, new { @class = "sr-only" })
                @Html.TextBoxFor(m => m.Gateway, new { @class = "form-control", @placeholder = "Suggested Gateway" })
                @Html.ValidationMessageFor(m => m.Gateway)
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
            <input type="submit" value="Submit" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}