@model Copiosis_Application.Models.AddItemModel
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.js"></script>

@* Page for adding new items*@
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 id="add-item-title" class="text-center">Create A New Item</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @* Use the placeholder for now, so that the application still compiles
            @Html.LabelFor(m => m.ItemClass, new { @class = "control-label" })
            @foreach(var ItemClass in Model.ItemClass)
            {
                <li><a href='#'>@ItemClass.name</a></li>
            }
            @Html.ValidationMessageFor(m => m.ItemClass)
        *@
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                @Html.LabelFor(m => m.ItemClass)
                @Html.DropDownListFor(m => m.ItemClass, new SelectList(Model.ItemClassTemplates.Keys), new { @id = "class-dropdown" })
                @Html.ValidationMessageFor(m => m.ItemClass)
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Item Name" })
                @Html.ValidationMessageFor(m => m.Name)

            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class=" form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Item Description", @style="min-height:30px"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class=" form-group">
                @Html.LabelFor(m => m.Gateway)
                @Html.TextBoxFor(m => m.Gateway, new { @class = "form-control", @placeholder = "Suggested Gateway", @id="suggested-gateway"})
                @Html.ValidationMessageFor(m => m.Gateway)
                <script type="text/javascript">
                    $("#class-dropdown").change(function () {
                        var currentChoice = $(this).val();
                        $(function () {
                            $.ajax({
                                url: "/Account/GatewayNBR/",
                                type:"get",
                                data:{name:currentChoice},
                                success: function(result) {
                                    $('#suggested-gateway').val(result.defaultGateway);
                            },
                                error: function(result) {
                                    console.log("Error receiving default gateway value for: " + currentChoice);
                            }
                        });

                        });

                    }).trigger('change');

                </script>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
            <input type="submit" value="Submit" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}