@* Page for creating transactions for both producers and consumers, do they need to be separate pages? *@

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 id="add-item-title" class="text-center">Create A New Item</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    }

    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <select data-placeholder="Select the Consumer's Name:'" class="chosen-select" tabindex="1">
                <option value=""></option>
                <option value="John Smith">John Smith</option>
                <option value="Tyler Poole">Tyler Poole</option>
                <option value="Trevor Ingram">Trevor Ingram</option>
                <option value="Steve Moore">Steve Moore</option>
                <option value="Scott Kropf">Scott Kropf</option>
                <option value="Jane Doe">Jane Doe</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <select data-placeholder="Select Item Class" class="chosen-select" tabindex="1">
                        <option value=""></option>
                        <option value="Apple">Apple</option>
                        <option value="Orange">Orange</option>
                        <option value="Potato">Potato</option>
                        <option value="Appliance">Appliance</option>
                        <option value="Popuri">Popuri</option>
                        <option value="Powdered Sugar">Powdered Sugar</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label class="sr-only" for="notesInput">Notes</label>
                <input type="text" class="form-control" id="notesInput" placeholder="Notes" style="min-height:30px!important;">
                @* Use the placeholder for now, so that the application still compiles
                    @Html.LabelFor(m => m.Notes, new { @class = "sr-only" })
                    @Html.TextBoxFor(m => m.Notes, new { @class = "form-control", @placeholder = "Notes or Comments" })
                    @Html.ValidationMessageFor(m => m.Notes)
                *@
            </div>
        </div>
    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
        <input type="submit" value="Submit" />
    </div>
</div>
