@model List<Copiosis_Application.Models.ItemsModel>
@* Page for listing the items (products) associated with the currently logged in user *@
<div class="row">
    <h1>Item Library</h1>
    <div class="row">
        <div id="upper-create-button" class="btn-group col-lg-2 col-md-2 col-sm-3 col-xs-1 col-lg-offset-10 col-md-offset-10 col-sm-offset-9 col-xs-offset-9" style="padding-bottom:10px">
            <button type="button" class="btn" onclick="location.href='@Url.Action("AddItem","Account")'">Create Item</button>
        </div>
    </div>
    <div class="row">       
        <div class="col-sm-12 col-md-12 col-lg-12">
           @{                
                @* if there was an error deleting an item then an error message will appear here *@
                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                        <p>@ViewData.ModelState["DeletionError"].Errors[0].ErrorMessage</p>
                    </div>
                }
                @* detemine if model list has data available *@
                bool hasItems = Model.Count() > 0;
                
                @* No items in library *@
                if (!hasItems)
                {
                    <h4>No Items In Library</h4>
                }
                @* Items available to display *@
                else
                {
                    <div class="table-responsive">
                        <table data-link="row" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Description</th>
                                    <th>Gateway</th>
                                    <th>Item Class</th>
                                    <th>Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* Need to make rows selectable and track which one is selected
                                    for passing to edit or delete*@

                                @foreach (var item in Model)
                                {
                                    <tr id="@item.ItemGuid">
                                        <td>@item.ProductName</td>
                                        <td>@item.Description</td>
                                        <td>@item.Gateway</td>
                                        <td>@item.ItemClass</td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button type="button" class="btn-sm" onclick="location.href='@Url.Action("EditItem", "Account", new { itemId = item.ItemGuid })'">Edit</button>
                                                <button type="button" class="btn-sm" onclick="location.href='@Url.Action("DeleteItem", "Account", new { itemId = item.ItemGuid })'">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            <div class="row">
                <div id="lower-create-button" class="btn-group col-lg-2 col-md-2 col-sm-3 col-xs-1 col-lg-offset-10 col-md-offset-10 col-sm-offset-9 col-xs-offset-9">
                    <button type="button" class="btn" onclick="location.href='@Url.Action("AddItem","Account")'">Create Item</button>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Count() < 8) 
    { 
        <script>
            $("#lower-create-button").css("visibility","hidden");
        </script>
    }
</div>
