@* This is the master page for all pages it essentially establishes the footer and header layout *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Copiosis Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/bootstrap-theme.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <link href="/Content/master.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale= 1" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Copiosis", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="customNav" class="nav navbar-nav text-right pull-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </nav>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Copiosis</p>
            </div>
        </div>
    </footer>
</body>

@* Include javascript files that will be used across pages *@
<script src="/Scripts/jquery-1.11.2.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
@RenderSection("scripts", required: false)
</html>
