﻿@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Transaction Overview", "Overview", "Account")</li>
    <li>@Html.ActionLink("Item Management", "Items", "Account")</li>
    <li class="last-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="last-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
