@{
    ViewBag.Title = "_AdminMenu";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px">

    <ul class="simpleNav">
        <li>@Html.ActionLink("Overview", "Overview", "Admin")</li>
        <li>@Html.ActionLink("Edit Classes", "ViewClasses", "Admin")</li>
        <li>@Html.ActionLink("Add New Class", "AddClass", "Admin")</li>
        <li>@Html.ActionLink("Rejected Transactions", "Rejected", "Admin")</li>
        <li class="last-item">@Html.ActionLink("Users", "ViewUsers", "Admin")</li>
    </ul>
</div>
