@model Copiosis_Application.Models.AddClassModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12" style="padding-left:0px">
            <h1>Class Management</h1>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
            @Html.Partial("_AdminMenu")
        </div>
    </div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3" style="margin-top: 20px">
    @if (ViewContext.RouteData.Values.ContainsValue("EditClass") == true)
    { 
        <h2 id="add-item-title" class="text-center">Edit A Class</h2>
        <script>$('#editClassesNav').addClass('active');</script>
    }
    else if (ViewContext.RouteData.Values.ContainsValue("AddClass") == true)
    {
        <h2 id="add-item-title" class="text-center">Create A Class</h2>
        <script>$('#addClassNav').addClass('active');</script>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        bool validState = Html.ViewData.ModelState.IsValid;
        int errorCount = 0;
            if (validState == false)
            {
                <div class="validation-summary-errors panel panel-danger"
                     data-valmsg-summary="true">
                    <div class="panel-heading">
                        @foreach (ModelState value in ViewData.ModelState.Values) {
                            if (value.Errors.Count() >= 1) {
                                ++errorCount;
                            }
                        }
                        @if (errorCount == 1) { 
                            <center><strong>Please correct the following field:</strong></center>
                        }
                        else
                        {
                            <center><strong>Please correct the following fields:</strong></center>
                        }
                    </div>
                </div><br />
            }
        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.name, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "Name", @id = "name" , @data_toggle = "tooltip", @data_original_title = "Item classes require a unique name"})
                    @Html.ValidationMessageFor(m => m.name)
                </div>
            </div>
        </div>     
            
        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.suggestedGateway, new { @class = "control-label add-item-label", })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.suggestedGateway, new { @class = "form-control", @placeholder = "SuggestedGateway", @id = "suggestedGateway", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Suggested Gateway" })
                    @Html.ValidationMessageFor(m => m.suggestedGateway)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.cPdb, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.cPdb, new { @class = "form-control", @placeholder = "Cpdb", @id = "cPbd", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable Cpdb" })
                    @Html.ValidationMessageFor(m => m.cPdb)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.a, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.a, new { @class = "form-control", @placeholder = "A", @id = "a", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Resource abundance" })
                    @Html.ValidationMessageFor(m => m.a)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.aMax, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.aMax, new { @class = "form-control", @placeholder = "Amax", @id = "aMax", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable Max resources" })
                    @Html.ValidationMessageFor(m => m.aMax)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.d, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.d, new { @class = "form-control", @placeholder = "D", @id = "d", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Consumer demand" })
                    @Html.ValidationMessageFor(m => m.d)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.aPrime, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.aPrime, new { @class = "form-control", @placeholder = "Aprime", @id = "aPrime", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Producer population" })
                    @Html.ValidationMessageFor(m => m.aPrime)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.cCb, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.cCb, new { @class = "form-control", @placeholder = "Ccb", @id = "cCb", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable Ccb" })
                    @Html.ValidationMessageFor(m => m.cCb)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.m1, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.m1, new { @class = "form-control", @placeholder = "M1", @id = "m1", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable M1" })
                    @Html.ValidationMessageFor(m => m.m1)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.pO, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.pO, new { @class = "form-control", @placeholder = "PO", @id = "pO", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Consumer objective benefit" })
                    @Html.ValidationMessageFor(m => m.pO)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.m2, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.m2, new { @class = "form-control", @placeholder = "M2", @id = "m2", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable M2" })
                    @Html.ValidationMessageFor(m => m.m2)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.cEb, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.cEb, new { @class = "form-control", @placeholder = "Ceb", @id = "cEb", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable Ceb" })
                    @Html.ValidationMessageFor(m => m.cEb)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.s, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.s, new { @class = "form-control", @placeholder = "S", @id = "s", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Social benefit" })
                    @Html.ValidationMessageFor(m => m.s)
              </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.m3, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.m3, new { @class = "form-control", @placeholder = "M3", @id = "m3", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable M3" })
                    @Html.ValidationMessageFor(m => m.m3)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.sE, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.sE, new { @class = "form-control", @placeholder = "Se", @id = "sE", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Environmental impact" })
                    @Html.ValidationMessageFor(m => m.sE)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.m4, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.m4, new { @class = "form-control", @placeholder = "M4", @id = "m4", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable M4" })
                    @Html.ValidationMessageFor(m => m.m4)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.sH, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.sH, new { @class = "form-control", @placeholder = "Sh", @id = "sH", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the Human impact" })
                    @Html.ValidationMessageFor(m => m.sH)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.LabelFor(m => m.m5, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    @Html.TextBoxFor(m => m.m5, new { @class = "form-control", @placeholder = "M5", @id = "m5", @data_toggle = "tooltip", @data_original_title = "Enter a number representing the variable M5" })
                    @Html.ValidationMessageFor(m => m.m5)
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-xs-12" style="text-align:center;">
                    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                    <button class="btn btn-default" onclick="confirmBack()">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        $('input').tooltip({ placement: 'bottom' });
    });
</script>