@model Copiosis_Application.Models.AddClassModel

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
    
    <h2 id="add-item-title" class="text-center">Create A Class</h2>
    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="ItemClasses must be given a name"></span>
                    @Html.LabelFor(m => m.name, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "Name", @id = "name" })
                    @Html.ValidationMessageFor(m => m.name)
                </div>
            </div>
        </div>     
            
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing the suggestedGateway"></span>
                    @Html.LabelFor(m => m.suggestedGateway, new { @class = "control-label add-item-label", })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.suggestedGateway, new { @class = "form-control", @placeholder = "SuggestedGateway", @id = "suggestedGateway" })
                    @Html.ValidationMessageFor(m => m.suggestedGateway)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing Cpdb"></span>
                    @Html.LabelFor(m => m.cPdb, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.cPdb, new { @class = "form-control", @placeholder = "Cpdb", @id = "cPbd" })
                    @Html.ValidationMessageFor(m => m.cPdb)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing A"></span>
                    @Html.LabelFor(m => m.a, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.a, new { @class = "form-control", @placeholder = "A", @id = "a" })
                    @Html.ValidationMessageFor(m => m.a)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing Amax"></span>
                    @Html.LabelFor(m => m.aMax, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.aMax, new { @class = "form-control", @placeholder = "Amax", @id = "aMax" })
                    @Html.ValidationMessageFor(m => m.aMax)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing D"></span>
                    @Html.LabelFor(m => m.d, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.d, new { @class = "form-control", @placeholder = "D", @id = "d" })
                    @Html.ValidationMessageFor(m => m.d)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing Aprime"></span>
                    @Html.LabelFor(m => m.aPrime, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.aPrime, new { @class = "form-control", @placeholder = "Aprime", @id = "aPrime" })
                    @Html.ValidationMessageFor(m => m.aPrime)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing Ccb"></span>
                    @Html.LabelFor(m => m.cCb, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.cCb, new { @class = "form-control", @placeholder = "Ccb", @id = "cCb" })
                    @Html.ValidationMessageFor(m => m.cCb)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing M1"></span>
                    @Html.LabelFor(m => m.m1, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.m1, new { @class = "form-control", @placeholder = "M1", @id = "m1" })
                    @Html.ValidationMessageFor(m => m.m1)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing P0"></span>
                    @Html.LabelFor(m => m.p0, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.p0, new { @class = "form-control", @placeholder = "P0", @id = "p0" })
                    @Html.ValidationMessageFor(m => m.p0)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing M2"></span>
                    @Html.LabelFor(m => m.m2, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.m2, new { @class = "form-control", @placeholder = "M2", @id = "m2" })
                    @Html.ValidationMessageFor(m => m.m2)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing Ceb"></span>
                    @Html.LabelFor(m => m.cEb, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.cEb, new { @class = "form-control", @placeholder = "Ceb", @id = "cEb" })
                    @Html.ValidationMessageFor(m => m.cEb)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing S"></span>
                    @Html.LabelFor(m => m.s, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.s, new { @class = "form-control", @placeholder = "S", @id = "s" })
                    @Html.ValidationMessageFor(m => m.s)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing M3"></span>
                    @Html.LabelFor(m => m.m3, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.m3, new { @class = "form-control", @placeholder = "M3", @id = "m3" })
                    @Html.ValidationMessageFor(m => m.m3)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing Se"></span>
                    @Html.LabelFor(m => m.sE, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.sE, new { @class = "form-control", @placeholder = "Se", @id = "sE" })
                    @Html.ValidationMessageFor(m => m.sE)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing M4"></span>
                    @Html.LabelFor(m => m.m4, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.m4, new { @class = "form-control", @placeholder = "M4", @id = "m4" })
                    @Html.ValidationMessageFor(m => m.m4)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a integer representing Sh"></span>
                    @Html.LabelFor(m => m.sH, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.sH, new { @class = "form-control", @placeholder = "Sh", @id = "sH" })
                    @Html.ValidationMessageFor(m => m.sH)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <span class="custom-q-mark glyphicon glyphicon-align-left glyphicon-question-sign" title="Enter a float representing M5"></span>
                    @Html.LabelFor(m => m.m5, new { @class = "control-label add-item-label" })
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                    @Html.TextBoxFor(m => m.m5, new { @class = "form-control", @placeholder = "M5", @id = "m5" })
                    @Html.ValidationMessageFor(m => m.m5)
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-xs-12" style="text-align:center">
                    <input type="submit" value="Submit" />
                    <button type="button" onclick="confirmBack()">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>