@model Copiosis_Application.Models.ViewUsersModel
<div class="row">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12" style="padding-left:0px">
                <h1>Users Overview</h1>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
                @Html.Partial("_AdminMenu")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col2-sm-12 col-md-12 col-lg-12">
            <h3>Change user options below:</h3>

            <div class="table-responsive">
                <table data-link="row" data-toggle="table" data-sort-name="name" data-sort-order="desc" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th data-sortable="true">Username</th>
                            <th data-sortable="true">First Name</th>
                            <th data-sortable="true">Last Name</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.users.Select((value, i) => new { i, value }))
                        {
                            <tr id="@item.value.userName">
                                <td>@item.value.userName</td>
                                <td>@item.value.firstName</td>
                                <td>@item.value.lastName</td>
                                <td>
                                    @Html.DropDownListFor(model => model.users[item.i], new SelectList(Model.roles, "Value", "Text", item.value.roleName), new { @id = @item.value.userId, @class = "select-box", @placeholder = "Class" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <script>
            $(function () {

                $(document.body).on('change', '.select-box', function () {
                    userRole = this.value;
                    userID = this.id;
                    $.ajax({
                        url: '/Admin/ChangeUserIsAdmin',
                        type: 'POST',
                        data: { role: userRole, userId: userID },
                        success: function (result) {
                            if (result)
                                console.log("User updated successfully.");
                            else {
                                console.log("Error while trying to update user.");
                            }
                        },
                        error: function (result) {
                            console.log("Error while trying to update user.");
                        }
                    });
                });

            });
        </script>

    </div>
</div>


